<link rel="stylesheet" href="/public/css/modalFavoriteListGames.css">
<div id="modal-favoriteGameList">
    <div class="modal-containerFavoriteGamesList">
        <p>Estas viendo el product <%= product.id %></p>
        <% list.forEach ( listGame=>{ %>

            <div style="display:flex;">
                <% if(!isProductInFavoriteList(product.id,listGame.id)){%>
                <p><%= listGame.name %></p>

                <form action="/addProductToFavoriteList/<%=listGame.id %>/<%=product.id%>" method="POST">
                    <input type="submit" value="Agregar">
                </form>
                <% } else{%>
                    <form action="/deleteProductFromFavoriteList/<%=product.id %>/<%=listGame.id%>" method="POST">
                        <input type="submit" value="Eliminar de favoritos">
                    </form>
                <%} %>
            </div>




        <% }) %>

        <button onclick="document.getElementById('modal-favoriteGameList').style.display='none'">close</button>

    </div>


</div>

