<link rel="stylesheet" href="/public/css/snacksModal.css">
<div id="snackModal">
    <div class="snackModalContainer">
        <div class="header-snack">

            <img width="96" height="96" src="/public/img/icons/nachos.svg" alt="">
            <h1>Para comer y beber</h1>
            <div class="line"></div>
            <p>Mira estos productos que pueden acompañarte en cada partida jugada</p>
        </div>
            
        <div class="list-Snacks">

            <% snacks.forEach(snack=>{ %>
            <div class="snack-item">

                <img  width="100" height="100" src="<%=snack.url%>" alt="">
                <p><%= snack.name %></p>
                <p class="snack-price" id="<%=snack.name%>price"><%= snack.price %></p>
                
                <div class="options" data-target="<%=snack.id%>" id="<%=snack.name%>">
                    <button disabled onclick="DownQuantity(this)">-</button>
                    <p>0</p>
                    <button onclick="UpQuantity(this)">+</button>
                </div>
            </div>
                

            <% }) %>
        </div>
        <div class="result-snack-modal">
            <p>Total S/ <span class="SnacksPrice" id="TotalSnackModal">0.00</span></p>

        </div>
        <button  class="close-snackModal-btn" onclick="document.getElementById('snackModal').style.display='none';">
        <img width="24" height="24" src="/public/img/icons/close.svg" alt="">
        </button>
    </div>
</div>