<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Mis Boletas</title>
    <link rel="stylesheet" href="/public/css/profilesviews.css">
</head>

<body>

    <%- include('partials/header') -%>
    <div class="bill-container perfil-view">
        <%- include('partials/sidebarUser') %>
        <div class="Cart-container">

            <h1>Mis boletas</h1>

            <% if(bills.length > 0){%>
            <% bills.forEach(bill=>{%>


            <p><%=bill.id%></p>
            <p><%=bill.totalprice%></p>
            <form action="/Boleta/<%=bill.id%>" method="GET">
                <input type="submit" value="Ver boleta">
            </form>
            <br>
            <hr>
            <%}) %>
            <% } else{ %>
            <p>No cuentas con boletas</p>
            <% } %>
        </div>
    </div>
</body>

</html>