<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Mis Boletas</title>
</head>
<body>
    
        <%- include('partials/header') -%>
    <%- include('partials/sidebarUser') %>
    <div class="bill-container">
        <h1>Bills</h1>
    </div>

    <% if(bills.length > 0){%>
        <% bills.forEach(bill=>{%>
            
            
            <p><%=bill.id%></p>
            <p><%=bill.totalprice%></p>
            <form action="/Boleta/<%=bill.id%>" method="GET">
                <input type="submit" value="Ver boleta">
            </form>
        <br>
        <hr>
        <%}) %>
    <% } else{ %>
        <p>No cuentas con boletas</p>
    <% } %>

</body>
</html>