<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Mis Boletas</title>
    <link rel="stylesheet" href="/public/css/profilesviews.css">
    <link rel="stylesheet" href="/public/css/billview.css">
</head>

<body>

    <%- include('partials/header') -%>
    <div class="bill-container perfil-view">
        <%- include('partials/sidebarUser') %>
        <div>

            <h1>Mis boletas</h1>

            <div class="listofBills">

                <% if(bills.length > 0){%>
                <% bills.forEach(bill=>{%>
                <a class="bill-obj" href="/Boleta/<%=bill.id%>">

                    <div class="img-bill-icon">
                        <img src="/public/img/icons/IconBoleta.svg" width="35" height="46" alt="">
                    </div>
                    <div class="info-bill">
                        <p class="idBill">Boleta #<%=bill.id%></p>
                        <p class="priceBill"> S/<%=bill.totalprice%></p>

                    </div>


                </a>

                <%}) %>
            </div>
            <% } else{ %>
            <p>No cuentas con boletas</p>
            <% } %>
        </div>
    </div>
</body>

</html>