<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Carrito</title>
    <link rel="stylesheet" href="/public/css/profilesviews.css">
    <link rel="stylesheet" href="/public/css/cartViews.css">
</head>

<body>
    <%- include('partials/header') -%>
    <div class="cart-container perfil-view">
        <%- include('partials/sidebarUser') %>

        <div class="Cart-container ">

            <h1>Cart</h1>

            <% if(products.length > 0) {%>
            <div class="list-product">

                <% products.forEach( (product)=>{ %>

                <div class="container-product">

                    <div class="img-product">
                        <img src="<%=product.url%>" width="184" height="276" alt="">
                    </div>
                    <div class="infoProduct">
                        <div>
                            <h3><%= product.name %></h3>
                            <p><%= product.categoryName %></p>

                        </div>
                        <div>
                            <p class="product-price">S/ <%= product.price_per_day %></p>

                        </div>
                    </div>



                    <form action="/deleteProductFromCart/<%=product.id%>/<%=user.id%>" method="POST">
                        <button type="submit">
                            <img src="/public/img/icons/Delete.svg" alt="">

                        </button>
                    </form>

                </div>

                <%  }); %>
            </div>
            <% } else{%>
            <p>No hay productos que mostrar!</p>

            <%} %>
        </div>

    </div>


</body>

</html>