<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Juegos Favoritos</title>
</head>

<body>
    <%- include('partials/header') -%>

    <%- include('partials/sidebarUser') %>
    <div class="favoriteGames-container">
        <form action="/addNewListGame" method="POST">
            <input required type="text" name="favoriteList" placeholder="Ingrese la lista de juego">
            <input type="submit" value="Agregar">

        </form>

        <h1>Favorites Games</h1>
        <% if(ListFavoriteGame.length > 0){%>
        <% ListFavoriteGame.forEach( async(listGame)=>{%>
            
            <h2> Lista de juego:  <span style="font-size: 14px;color:#232456;"><%= listGame.name%></span></h2>
            <form action="/JuegosFavoritos/delete/<%= listGame.id %>" method="POST">
                <input type="submit" value="Eliminar lista">
            </form>     
            
            <% if(products.length > 0) {%>
                <% products.forEach(obj=>{ %>
                    <% if(isProductInList(obj.id,listGame.id)){ %>
                    <p><%= obj.id %> - <%= obj.name %></p>
                    <form action="/JuegosFavoritos/deleteProduct/<%= obj.id %>/<%= listGame.id %>" method="POST">
                        <input type="submit" value="Eliminar">
                    </form>
                    <% } %>
                <% }) %>
            <% } %>


            <br>
            <hr>
        <% }); %>
        
        <% } else{%>
            <p>No tienes lista de juegos favoritas</p>
        <%} %>


    </div>

</body>

</html>