<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
    <link rel="stylesheet" href="/public/css/home.css">
</head>

<body>
    <% if(!isUserAuthenticated) {%>
    <%- include('modals/login',{error:error,message:message}) %>
    <%}%>
    <%- include('partials/header'); %>
    <div class="allProducts">

        <% allProduct.forEach(obj=>{ %>
        <a class="product-item" href="http://localhost:3000/product/<%=obj.id%>">
            <h2><%= obj.name %></h2>
            <p><%= obj.tipe %></p>
        </a>
        <% }); %>

    </div>

</body>

</html>