<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
    <link rel="stylesheet" href="/public/css/home.css">
</head>

<body>
    <% if(!isUserAuthenticated) {%>
    <%- include('modals/login',{error:error,message:message}) %>
    <%}%>
    <%- include('partials/header'); %>
    <div class="allProducts">

        <% allProduct.forEach(product=>{ %>
        <a class="product-item" href="/product/<%=product.id%>">
            <img width="184" height="276" src="<%=product.url%>" alt="">
            <p class="Price" > <sup>s/</sup> <span style="font-size: 32px;"><%=product.price_per_day%></span></p>
        
            <h2><%= product.name %></h2>
            <p><%= product.categoryName %></p>
        </a>
        <% }); %>

    </div>

</body>

</html>