<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Brettspiel</title>
    <link rel="stylesheet" href="/public/css/product.css">
</head>

<body>
    <%- include('partials/header') %>

    <% if(!isUserAuthenticated ||  isUserAuthenticated == undefined) {%>
    <%- include('modals/login',{error:error,message:message}) %>
    <%} else { %>
    <%- include('modals/favoriteGamesList',{list:listFavoriteGame}) %>
    <%- include('modals/Snacks',{snacks:snacks}) %>
    <% } %>

    <div class="product-container">
        <div class="all-about-product">
            <h1> <%= product.name %></h1>
            <p><%= product.tipe %></p>
            <br>
            <br>
            <p><%= product.description %>
                <%= product.description %>
                <%= product.description %>
                <%= product.description %>
                <%= product.description %>
                <%= product.description %>
                <%= product.description %>
            </p>


            <!-- CUANDO EL USUARIO NO SE HA LOGUEADO -->
            <% if(!isUserAuthenticated){ %>
            <button onclick="buy()">Añadir al carro</button>

            <!-- CUANDO EL USUARIO SE HA LOGUEADO Y NO TIENE EL PRODUCTO EN SU CARRO -->
            <% } if( (isProductInCart == undefined || isProductInCart != true) && isUserAuthenticated ){ %>


            <form action="/addToCart" method="POST">
                <input type="submit" value="Añadir al carro">
            </form>

            <!-- CUANDO EL USUARIO SE HA LOGUEADO Y TIENE EL PRODUCTO EN SU CARRO -->
            <% } if(isProductInCart == true){%>

            <form action="/deleteProductFromCart/<%=product.id%>/<%=user.id%>" method="POST">
                <input type="submit" value="Sacar del carrito">
            </form>
            <% }  %>
            <% if( isUserAuthenticated){ %>
            <button onclick="document.getElementById('modal-favoriteGameList').style.display='flex'">Añadir a
                favoritos</button>
            <% } %>
        </div>

        <div class="product-form">
            <%-  include('partials/cardProduct',{snacks:snacks}) %>
        </div>
    </div>
    <script src="/public/js/modalSnacks.js"></script>
    <script src="/public/js/DateAlgorithm.js"></script>
    <script  src="/public/js/productPage.js"></script>

</body>

</html>